apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: staging
resources:
- ../../base
patches:
- path: vote-deployment-patch.yaml
- path: vote-service-patch.yaml
- path: result-service-patch.yaml
